<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.granthdindi">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".controller.Profile"></activity>
        <activity android:name=".controller.Cart" />
        <activity android:name=".controller.AddNewStock" />
        <activity android:name=".controller.SellerStockAlloted" />
        <activity android:name=".controller.Admins" />
        <activity
            android:name=".controller.Inventory"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".controller.AdminHomePage" />
        <activity android:name=".controller.AdminSignIn" />
        <activity
            android:name=".controller.SellerHomePage"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".controller.SellerStockSold" />
        <activity android:name=".controller.SellerStockReturn" />
        <activity android:name=".controller.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>